@{
    ViewBag.Title = "About";
}


<h2>
    Задание:
</h2>
<p>
    Необходимо добавить валидацию и работу с базой.
</p>

<h3>Требования:</h3>
<p>- использовать Entity Framework Code First.</p>
<p>- реализовать DB миграции с начальным заполнением данных для стран и городов.</p>
<p>- реализовать репозитории.</p>
<p>- реализовать паттерн Unit Of Work.</p>
<p>- использовать FluentValidation библиотеку для валидации.</p>
<p>- подключить клиентскую валидацию для случаев поддерживаемых из "коробки".</p>
<p>- использовать View и Domain модели.</p>

<h4>Правила валидации:</h4>
<p>- для всех полей добавить адекватную проверку на тип и размер.</p>
<p>- проверка на уникальность комбинации First Name + Last Name.</p>
<p>- проверка на уникальность Phone.</p>
<p>- проверка на уникальность Email.</p>
<p>- все поля кроме Comments - обязательны.</p>
<p>- добавить проверку что город относится к стране. (так как у нас нет каскадного обновления).</p>
