@{
    ViewBag.Title = "About";
}


<h2>
    Задание:
</h2>
<p>
    Необходимо реализовать простую систему содержащую: страницу со списком пользователей и 
    страницу редактирования/добавления пользователей.
    Смотрите мокапы: home_work_users.png, home_work_users_edit.png
</p>
<h3>Требования:</h3>
<p>- нет необходимости реализовывать трехслойку, но логику из контроллеров нужно обязательно вынести в сервисы.</p>
<p>- все данные хранить в памяти(пользователи, страны, города и т.д.), инициализировать их при старте приложения.</p>
<p>- на данном этапе валидация не обязательна (ее еще не проходили)</p>
<p>- использовать htmlhelpers.</p>
